img#backgroundPic{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    img#backgroundPic{
        left: 50%;
        margin-left: -512px;
    }
}

.question{
    position: relative;
    color: white;
    font-size: 45px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    top: 300px;

}

.answers {
    position: relative;
    color: white;
    font-size: 25px;
    width: 100%;
    /* font-weight: bold; */
    text-align: center;
    top: 300px;

}
#mainTitle{
    color: white;
    font-weight: bold;
    position: absolute;
    left: 44%;
    font-size: 40px;
}

#titlePic {
    width: 300px;
    height: 168px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#timer {
    font-size: 30px;
    color: white;
    position: relative;
    top: 300px;
    left: 44%;
}

#submit {
    position: relative;
    top:350px;
    left: 44%;
}
/* 
#questionDiv {
    top:1000px;
} */

/* #q1 {
    top: 400px;
}

#q2 {
    top: 500px;
}

#q3 {
    top: 600px;
}

#q4 {
    top: 700px;
}

#q5 {
    top: 800px;
} */